

.addq {
    margin: 30px 80px;
}  
.addq p {
    margin-right: 2rem;
}

.addq label {
    margin-right: 1rem;
    font-weight: bold;
}

.allQuestions {
    /* border: cyan solid 2px; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    
}

.questionDiv {
    /* border: red solid 1px; */

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.questionInput {
    padding: 6px;
}

.buttonDiv {
    display: flex;
    gap: 10px;
}

.addq input {
    border: black solid 1px;
    color: black;

    margin: 0.5rem 0;
    margin-bottom: 1rem;

    border-radius: 5px;
}

.addq form {
    /* border: blue solid 1px; */
    
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
}

.submitBreak {
    /* border: yellow solid 2px; */
    display: block;
    margin-top: 1rem;
}

