

.addq {
    margin-left: 2rem;
    margin-top: 2rem;
}  

.addq label {
    margin-right: 1rem;
}

.addq .noq {
    background-color: white;
    color: white;
    
}
.addq input {
    border: black solid 1px;
    background-color: rgba(103, 103, 103, 0.3);
    color: black;
    
    width: 12rem;
    height: 1.5rem;
    padding: 5px;
    border-radius: 5px;
}

.addq form {
    color: black;
    border: red solid 2px;

    margin-top: 10px;
}

.addq span {
    margin: 10px;
}

