



.nav li {   
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    list-style: none;
    width: fit-content;
    cursor: pointer;

    padding: 1rem 1rem;
    margin: -10px;
    color: white; 
    font-size: 30px;
    /* border: 2px solid rebeccapurple; */
}

