.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 700px;
    height: 400px;
    background: white;
    border-radius: 20px;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    cursor: pointer;
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
}
